<% include header %>
  <% include nav %>
  <div class="container body">
    <div class="main_container">
    <div class="clearfix"></div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= user.profile_picture %>" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Usuario:</td>
                    <td><%= user.username %></td>
                  </tr>
                  <tr>
                    <td>Edad:</td>
                    <td><%= user.age %></td>
                  </tr>
                  <tr>
                    <td>Frase:</td>
                    <td><%= user.slogan %></td>
                  </tr>
               
                     <tr>
                         <tr>
                    <td>Genero: </td>
                    <td><%= user.gender %></td>
                  </tr>
                    <tr>
                    <td>Dirección: </td>
                    <td><%= user.address.city %>, <%= user.address.state %>, <%= user.address.country %></td>
                  </tr>
                  <tr>
                    <td>Correo: </td>
                    <td> <%= user.email %> </td>
                  </tr>
                    <td>Puntaje: </td>
                    <td><%= user.score %> </td>
                       
                  </tr>
                 
                </tbody>
              </table>
              
              <a href="/campaign" class="btn btn-primary">Crear Campaña</a>
              <a href="/company" class="btn btn-primary">Crear Empresa</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bars"></i> Campañas <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">


            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Creadas</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Donaste</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Voluntario</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha Fin</th>
                          <th>Categoría</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< profile.created_campaigns.length; i++) { %>
                          <tr>
                            <th scope="row"><a href="/campaigns/<%= profile.created_campaigns[i]._id %>"><%= profile.created_campaigns[i].name %></a></th>
                            <td><%= profile.created_campaigns[i].start_date %></td>
                            <td><%= profile.created_campaigns[i].end_date %></td>
                            <td><%= profile.created_campaigns[i].category %></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha Fin</th>
                          <th>Categoría</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< profile.created_campaigns.length; i++) { %>
                          <tr>
                            <th scope="row"><a href="/campaigns/<%= profile.created_campaigns[i]._id %>"><%= profile.created_campaigns[i].name %></a></th>
                            <td><%= profile.created_campaigns[i].start_date %></td>
                            <td><%= profile.created_campaigns[i].end_date %></td>
                            <td><%= profile.created_campaigns[i].category %></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha Fin</th>
                          <th>Categoría</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< profile.created_campaigns.length; i++) { %>
                          <tr>
                            <th scope="row"><a href="/campaigns/<%= profile.created_campaigns[i]._id %>"><%= profile.created_campaigns[i].name %></a></th>
                            <td><%= profile.created_campaigns[i].start_date %></td>
                            <td><%= profile.created_campaigns[i].end_date %></td>
                            <td><%= profile.created_campaigns[i].category %></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<% include footer %>