<% include header %>
  <% include nav %>
<div class="col-md-3 col-xs-12 widget widget_tally_box">
    <div class="x_panel fixed_height_390">
      <div class="x_content">

        <div class="flex">
          <ul class="list-inline widget_profile_box">
            <li>
              <a>
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="" id="changeProfilePicture"><img src="/uploads/images/<%= company.profile_picture %>" alt="..." class="img-circle profile_img"></a>
              <form action="POST" enctype="multipart/form-data" style="display: none;" id="formProfilePicture">
                <input type="file" name="profilePicture" id="profilePicture">
                <input type="submit">
              </form>
            </li>
            <li>
              <a>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>

        <h3 class="name"><%= company.name %></h3>
        <p><%= company.slogan %></p>

        <div class="flex">
          <ul class="list-inline count2">
            <p><%= company.address.city %>,<%= company.address.state %>,<%= company.address.country %></p>
          </ul>
        </div>
        <p>
          <%= company.description  %>
        </p>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="btnFollow"><i class="fa fa-rss"></i> Seguir</button>
      </div>
    </div>
  </div>

<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel">
    <form class="form-inline" id="frmSearchUser">
      <div class="form-group">
        <label for="searchUser">Name</label>
        <input type="text" class="form-control" name="name" id="searchUser" placeholder="Jane Doe">
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <div class="x_title">
      <h2> Users <small>basic table subtitle</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Username</th>
            <th>?</th>
          </tr>
        </thead>
        <tbody id="resultsPerson">
          
        </tbody>
      </table>

    </div>
  </div>
</div>
  <script>
    $(document).ready(function () {

      $('#changeProfilePicture').click(function (event) {
        event.preventDefault();
        $('#profilePicture').click();
        /*$('#formProfilePicture').submit(function () {
          $.post("/user/<%= user._id %>/upload_picture")
        })*/
      });

      $('#profilePicture').on('change', function () {
        var data = new FormData();
        var files=$(this).get(0).files;
        data.append('file', files[0]);
        $.ajax({
            url: '/user/<%= company._id %>/profile-picture',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'PUT',
            success: function(data){
                console.log(data);
                window.location.reload();
            }
        });
      });

      $('#frmSearchUser').submit(function (event) {
        event.preventDefault();
        $.ajax({
          url: '/search/person',
          data: $('#frmSearchUser').serialize(),
          type: 'POST',
          success: function(data){
            for(var key in data) {
              $('#resultsPerson').append('<tr><th scope="row"><a href="/' + data[key].username + '">' + data[key].name + '</a></th><td><img src="' + data[key].profile_picture + '" class="img-circle img-responsive"></td><td>' + data[key].username + '</td><td><button type="button" class="btn btn-xs btn-primary addAdmin" data-idCompany="<%= company._id %>" data-idPerson= "' + data[key]._id + '"><span class="glyphicon glyphicon-plus"></span></button></td></tr>');
            }
            $('.addAdmin').click(function (event) {
              console.log('hice click');
              if(window.confirm("¿Estás Seguro?")){
                $.post("/company/" + $(this).attr('data-idCompany') + "/person/" + $(this).attr('data-idPerson') + "/add-admin", function (data) {
                  console.log('done');
                });
              }
            });
          }
        });
      });
    });
  </script>

<% include footer %>