<% include header %>
  <%if (user) {%>
    <% include nav %>
  <%}%>
    <div class="panel-body">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Categoría</th>
        <td><%= campaign.category %></td>
      </tr>
      <tr>
        <th scope="row">Nombre</th>
        <td><%= campaign.name %></td>
      </tr>
      <tr>
        <th scope="row">Fecha de Inicio</th>
        <td><%= campaign.start_date %></td>
      </tr>
      <tr>
        <th scope="row">Fecha de Fin</th>
        <td><%= campaign.end_date %></td>
      </tr>
      <tr>
        <th scope="row">Cantidad deseada</th>
        <td><%= campaign.aspired_amout %></td>
      </tr>
      <tr>
        <th scope="row">Personas beneficiadas</th>
        <td><%= campaign.people_reached %></td>
      </tr>
      <tr>
        <th scope="row">Descripción</th>
        <td><%= campaign.description %></td>
      </tr>
      <tr>
        <th scope="row">Dirección</th>
        <td><%= campaign.address.city %>, <%= campaign.address.state %>, <%= campaign.address.country %></td>
      </tr>
    </tbody>
  </table>
  <% if (user) { %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" id="btn-like">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
          <button type="button" class="btn btn-default" id="btn-dislike">
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </button>
          <button type="button" class="btn btn-default" id="btn-share">
            <span class="glyphicon glyphicon-share-alt"></span>
          </button>
          <button type="button" class="btn btn-default" id="btn-volunteer">
            <span class="">Ser Voluntario</span>
          </button>
        </div>
      </div>
    </div>
  <%}%>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-bars"></i> Tabs <small>Float left</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">


      <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Comentarios</a>
          </li>
          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Actualizaciones</a>
          </li>
          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Donaciones</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
            <div class="x_content">
              <ul class="list-unstyled timeline" id="commentList">
                <% for(var i=0; i<campaign.comments.length; i++) { %>
                  <li>
                    <div class="block">
                      <div class="tags">
                        <a href="" class="tag">
                          <span><%= campaign.comments[i]._id %></span>
                        </a>
                      </div>
                      <div class="block_content">
                        <h2 class="title">
                                        <a>Comment</a>
                                    </h2>
                        <div class="byline">
                          <span><%= campaign.comments[i].created_at %></span> by <a><%= campaign.comments[i].user %></a>
                        </div>
                        <p class="excerpt"><%= campaign.comments[i].text %></p>
                        </p>
                      </div>
                    </div>
                  </li>
              <% } %>
              </ul>
            </div>
            <% if (user) { %>
              <form method="post" id="formComment">
                <div class="form-group">
                  <textarea class="form-control" name="text" id="textComment" rows="3"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Comentar">
              </form>
            <% } %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
            <% for(var i=0; i<campaign.updates.length; i++) { %>
            <div>
              <div class="well">
                <p><%= campaign.updates[i].text %></p>
                <hr>
                <img src="/uploads/images/<%= campaign.updates[i].picture %>" class="img-responsive">
                <hr>
                <small><%= campaign.updates[i].created_at %></small>
                <hr>
                <% if (true) {%>
                <% for(var j=0; j<campaign.updates[i].comment.length; j++) { %>
                  <div class="well">
                    <h4><%= campaign.updates[i].comment[j].user %> <small><%= campaign.updates[i].comment[j].created_at %></small> </h4>
                    <p class="bg-info"><%= campaign.updates[i].comment[j].text %></p>
                  </div>
                <%}%>
                <%}%>
                <hr>
                <% if (user) { %>
                <form method="post" id="formComment" action="/update/<%= campaign.updates[i]._id %>/comment">
                  <div class="form-group">
                    <textarea class="form-control" name="text" id="textComment" rows="3"></textarea>
                  </div>
                  <input type="submit" class="btn btn-primary" value="Comentar"/>
                </form>
              <% } %>
              </div>
            </div>
            <% } %>
            <form action="/campaign/<%= campaign._id %>/update" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="text">Actualización</label>
                <textarea name="text" id="updateText" class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="picture">Imagen</label>
                <input type="file" name="picture" id="updatePicture">
              </div>
              <input type="submit" class="btn btn-primary" value="Actualizar"> 
            </form>

          </div>


          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
            <div class="x_content">
              <ul class="list-unstyled timeline" id="commentList">
                <% for(var i=0; i<campaign.donations.length; i++) { %>
                  <li>
                    <div class="block">
                      <div class="block_content">
                        <h2 class="title">
                                        <a>Comment</a>
                                    </h2>
                        <div class="byline">
                          <span><%= campaign.donations[i].created_at %></span> by <a><%= campaign.donations[i].user.name %></a>
                        </div>
                        <p class="excerpt"><%= campaign.donations[i].amount %></a>
                        </p>
                      </div>
                    </div>
                  </li>
              <% } %>
              </ul>
            </div>
            <% if (user) { %>
              <form action="PUT" id="donateCampaign" class="form-inline"> 
                <div class="form-group">
                  <input type="text" name="amount" id="amountDonateCampaign" placeholder="Cantidad a donar">
                </div>
                <div class="radio">
                <label>
                  <input type="radio" name="state" id="optionsRadios1" value="public" checked>
                  Publica
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="state" id="optionsRadios2" value="private">
                  Privada
                </label>
              </div>
                <input type="submit" class="btn btn-primary" value="Donar">
              </form>
            <% } %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Media Gallery <small> gallery design </small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="row" id="mediaGallery">


          <p>Media gallery design emelents</p>
          <% for(var i=0; i<media.length; i++) { %>
          <div class="col-md-55">
            <div class="thumbnail">
              <div class="image view view-first">
                <img style="width: 100%; display: block;" src="/uploads/images/<%= media[i].url %>" alt="image" />
                <div class="mask">
                  <p><%= media[i].created_at %></p>
                  <div class="tools tools-bottom">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="#"><i class="fa fa-pencil"></i></a>
                    <a href="#"><i class="fa fa-times"></i></a>
                  </div>
                </div>
              </div>
              <div class="caption">
                <h5><%= media[i].person_name %></h5>
                <p><%= media[i].description %></p>
              </div>
            </div>
          </div>
          <% } %>

        </div>
        <form action="/campaign/<%= campaign._id %>/media" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="description">Descripción: </label>
            <textarea class="form-control" name="description" id="mediaDescription" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="mediaFile">Selecciona el archivo que quieres subir:</label>
            <input type="file" name="mediaFile">
          </div>
          <input type="submit" class="btn btn-primary" value="Subir Imagen">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#btn-like').click(function () {
      console.log('clicked');
      $.ajax({
        url: '/campaign/<%= campaign._id %>/like',
        type: 'PUT',
        success: function (data) {
          console.log(data);
        }
      });
    });

    $('#btn-dislike').click(function () {
      console.log('clicked');
      $.ajax({
        url: '/campaign/<%= campaign._id %>/dislike',
        type: 'PUT',
        success: function (data) {
          console.log(data);
        }
      });
    });

    $('#btn-share').click(function () {
      console.log('clicked');
      $.ajax({
        url: '/campaign/<%= campaign._id %>/share',
        type: 'PUT',
        success: function (data) {
          console.log(data);
        }
      });
    });

    $('#btn-volunteer').click(function () {
      console.log('clicked');
      $.ajax({
        url: '/campaign/<%= campaign._id %>/volunteer',
        type: 'PUT',
        success: function (data) {
          console.log(data);
        }
      });
    });

    $('#formComment').submit(function (e) {
      e.preventDefault();
      $.ajax({
        url: '/campaign/<%= campaign._id %>/comment',
        type: 'post',
        data: $('#formComment').serialize(),
        success: function (data) {
          $('#textComment').val('');
          //$('#commentList').append("<li><div class='block'><div class='tags'><a href='' class='tag'><span>" + data. + "</span></a></div><div class='block_content'><h2 class='title'><a>Comment</a></h2><div class='byline'><span></span> by <a></a></div><p class='excerpt'></a></p></div></div></li>")
          window.location.reload();
        },
        error: function (err) {
          console.log(err);
        }
      });
    });

    $('#donateCampaign').submit(function (e) {
      e.preventDefault();
      $.ajax({
        url: '/campaign/<%= campaign._id %>/donate',
        type: 'PUT',
        data: $('#donateCampaign').serialize(),
        success: function (data) {
          $('#amountDonateCampaign').val('');
          //$('#commentList').append("<li><div class='block'><div class='tags'><a href='' class='tag'><span>" + data. + "</span></a></div><div class='block_content'><h2 class='title'><a>Comment</a></h2><div class='byline'><span></span> by <a></a></div><p class='excerpt'></a></p></div></div></li>")
          window.location.reload();
        }
      });
    });


  });
</script>

<% include footer %>