<% include header %>
  <% include nav %>
<img src="<%= person.cover_picture %>" class="img-responsive">
  <div class="container body">
    <div class="main_container">
    <div class="clearfix"></div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= person.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= person.profile_picture %>" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Usuario:</td>
                    <td><%= person.username %></td>
                  </tr>
                  <tr>
                    <td>Fecha de Nacimiento:</td>
                    <td><%= person.birthday %></td>
                  </tr>
                  <tr>
                    <td>Frase:</td>
                    <td><%= person.slogan %></td>
                  </tr>
               
                     <tr>
                         <tr>
                    <td>Genero: </td>
                    <td><%= person.gender %></td>
                  </tr>
                    <tr>
                    <td>Dirección: </td>
                    <td><%= person.address.city %>, <%= person.address.state %>, <%= person.address.country %></td>
                  </tr>
                  <tr>
                    <td>Correo: </td>
                    <td> <%= person.email %> </td>
                  </tr>
                    <td>Puntaje: </td>
                    <td><%= person.score %> </td>
                       
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="btnFollow"><i class="fa fa-rss"></i> Seguir</button>
            <button type="button" class="btn btn-default" id="addFriend"><i class="fa fa-user-plus"></i> Añadir Amigo</button>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bars"></i> Campañas <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">


            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Creadas</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Donaste</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Voluntario</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha Fin</th>
                          <th>Categoría</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< person.created_campaigns.length; i++) { %>
                          <tr>
                            <th scope="row"><a href="/campaigns/<%= person.created_campaigns[i]._id %>"><%= person.created_campaigns[i].name %></a></th>
                            <td><%= person.created_campaigns[i].start_date %></td>
                            <td><%= person.created_campaigns[i].end_date %></td>
                            <td><%= person.created_campaigns[i].category %></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Fecha</th>
                          <th>Cantidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< person.donations.length; i++) { %>
                            <% if (person.donations[i].campaign) {%>
                            <tr>
                              <th scope="row"><a href="/campaigns/<%= person.donations[i].campaign._id %>"><%= person.donations[i].campaign.name %></a></th>
                              <td><%= person.donations[i].created_at %></td>
                              <td><%= person.donations[i].amount %></td>
                            </tr>
                          <% } %>
                        <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha Fin</th>
                          <th>Categoría</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< person.volunteer_campaigns.length; i++) { %>
                          <tr>
                            <th scope="row"><a href="/campaigns/<%= person.volunteer_campaigns[i]._id %>"><%= person.volunteer_campaigns[i].name %></a></th>
                            <td><%= person.volunteer_campaigns[i].start_date %></td>
                            <td><%= person.volunteer_campaigns[i].end_date %></td>
                            <td><%= person.volunteer_campaigns[i].category %></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bars"></i> Otros <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">


            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#companies" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Empresas</a>
                </li>
                <li role="presentation" class=""><a href="#activities" role="tab" id="achievements-tab" data-toggle="tab" aria-expanded="false">Logros</a>
                </li>
                <li role="presentation" class=""><a href="#gratitudes" role="tab" id="gratitudes-tab" data-toggle="tab" aria-expanded="false">Agradecimientos</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="companies" aria-labelledby="home-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Slogan</th>
                          <th>Descripción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< person.administrated_companies.length; i++) { %>
                          <tr>
                            <th scope="row"><a href="/company/<%= person.administrated_companies[i].username %>"><%= person.administrated_companies[i].name %></a></th>
                            <td><%= person.administrated_companies[i].slogan %></td>
                            <td><%= person.administrated_companies[i].description %></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
                 <div role="tabpanel" class="tab-pane fade" id="achievements" aria-labelledby="achievements-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Titulo</th>
                          <th>Descripción</th>
                          <th>Nivel</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< person.achievements.length; i++) { %>
                          <tr>
                            <th scope="row"><%= person.achievements[i].title %></th>
                            <td><%= person.achievements[i].text %></td>
                            <td><%= person.achievements[i].level %></td>
                          </tr>
                      <% } %>
                      </tbody>
                    </table>

                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="gratitudes" aria-labelledby="gratitudes-tab">
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Descripcion</th>
                          <th>Fecha</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (person.gratitudes) { %>
                          <% for(var i=0; i< person.gratitudes.length; i++) { %>
                            <tr>
                              <td><%= person.gratitudes[i].text %></td>
                              <td><%= person.gratitudes[i].created_at %></td>
                            </tr>
                          <% } %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



    </div>
  </div>

<% include footer %>